name: CI Artifact Test

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout código
        uses: actions/checkout@v4

      - name: Criar pasta dist
        run: mkdir dist

      - name: Criar arquivo de build fake
        run: echo "Build version 1.0" > dist/build.txt

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: build-artifact
          path: dist/

deploy:
  runs-on: ubuntu-latest
  needs: build

  steps:
    - name: Download artifact
      uses: actions/download-artifact@v4
      with:
        name: build-artifact

    - name: Ver onde o arquivo foi baixado
      run: |
        echo "Arquivos encontrados:"
        ls -R

    - name: Mostrar conteúdo
      run: cat build.txt